.container{
   max-width: 80vw;
   margin: 50px auto;

   //Ajustes de responsividade para mobile
   @media(max-width : 600px){
     margin: 4rem auto;
     max-width: 95vw;
   }

   &__listReposButton{
      background: transparent;

      border-radius: 0px;
      color: var(--gray-900);
      transition: all 0.2s;
      text-align: start;

      margin : 3rem 1rem 1rem 0rem;


      @media(max-width : 1110px){
         margin: 3rem 1rem 0rem 1rem;
      }


      @media(max-width : 720px){
         width: 95%;
         margin: 1rem;
      }

      &:hover{
         color: var(--purple);
      }
   }

   &__listStarredReposButton{
      background: transparent;

      text-align: start;
      color: var(--gray-900);
      border-radius: 0px;

      transition: all 0.2s;

      @media(max-width : 720px){
         width: 95%;
         margin: 0.5rem 1rem;
      }

      &:hover{
         color: var(--purple);
      }

   }
}

.repositoriesNotFound{
   width: 100%;
}