.container{
   max-width: 80vw;
   margin: 50px auto;

   //Ajustes de responsividade para mobile
   @media(max-width : 500px){
     margin: 4rem auto;
     max-width: 95vw;
   }

   &__listReposButton{
      background: var(--purple);
      margin : 3rem 1rem 1rem 0rem;


      @media(max-width : 1110px){
         margin: 3rem 1rem 0rem 1rem;
      }

      //Mobile-size
      @media(max-width : 720px){
         width: 95%;
         margin: 1rem;
      }

   }

   &__listStarredReposButton{
      background: var(--gray-950);

      @media(max-width : 720px){
         width: 95%;
         margin: 0.5rem 1rem;
      }

      
   }
}